# Ignore vscode workspace files
*.code-workspace

# This catches the temporary situation ahead of the extension
# moving to this subdirectory
/extension

# Ignore node_modules everywhere
node_modules

# Ignore .vsix files - they are ignored in the main repo
*.vsix
