# This section of the file will have significant overlap with .gitignore
# with the major difference that .vscodeignore cannot anchor to the root
# of the repo. Hence 'bin/' ignores _all_ directories named 'bin'.
bin/*
extension/
node_modules/
*.code-workspace
*.vsix

# A static snapshot of what constitues the extension. Exclude this from
# the extension itself.
manifest.txt

# This section is more specific to the extension itself
*.go
*.cue

# This section is more specific to the extension itself in its current
# location at the root of the repo
.vscode/
codereview.cfg
cue.mod/
.github/
.gitignore
go.mod
go.sum
internal/
