[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = CUE language support for Visual Studio Code
[access "refs/*"]
	owner = group user/CUEcueckoo (cueckoo)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/CUEcueckoo (cueckoo)
	label-Verified = -1..+1 group user/CUEcueckoo (cueckoo)
	push = group user/CUEcueckoo (cueckoo)
	read = group user/CUEcueckoo (cueckoo)
	rebase = group user/CUEcueckoo (cueckoo)
	removeReviewer = group user/CUEcueckoo (cueckoo)
	submit = group user/CUEcueckoo (cueckoo)
[access "refs/heads/*"]
	create = group user/CUEcueckoo (cueckoo)
	push = +force group user/CUEcueckoo (cueckoo)
	pushMerge = group user/CUEcueckoo (cueckoo)
	read = group user/CUEcueckoo (cueckoo)
[access "refs/tags/*"]
	push = group user/CUEcueckoo (cueckoo)
	push = +force group user/CUEcueckoo (cueckoo)
