on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

name: Test
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.14.7]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Generate
      run: go generate ./...
    - name: Test
      run: go test ./...
    - name: Tidy
      run: go mod tidy
    - name: Ensure commit is clean
      run: test -z "$(git status --porcelain)" || (git status; git diff; false)
